body{
    font-family: 'Open Sans', sans-serif;
   }
   html{
       scroll-behavior: smooth;
   }
*{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    }

header{
position: absolute;
z-index: 2;
width: 100%;
left: 0;

}
header .container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 160px) ;
    background-color: white;
   bottom: -30px;
   left: 80px;
}
header nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
@media(min-width:850px){
    nav .menu{
        display: none;
    }
    }



  @media(max-width:850px){
      nav .menu{
    color: white;
    font-size:20px ;
    padding-right: 20px;
  }
  nav .menu:hover+ul
   {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   flex-direction: column;
   position: absolute;
   top: 68px;
  left: -150px;
  background-color: rgba(0, 0, 0, 0.315);
 width: 130%;
 height: 250px;
 padding: 30px;
  }



  /* .menu{
      display: none;
  } */
 
  nav .menu:hover+ul a{
     color: white;
     border-bottom: none;
     font-size: 20px;
     padding-bottom: 50px ;
     
     }
     nav .menu:hover+ul .active{
        color: #00C7FC;
        width: 100%;
      }

     nav .menu:hover+ul li{
         width: 100%;
     }
     nav .menu:hover+ul .act{
        border-bottom: solid 3px #00C7FC;
     }

  }
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:850px){
    nav ul{
        display: none;
    }
    header .container{
       padding: 0 40px;
    }
    header .container::after{
        width: calc(100% - 80px) ;
        left: 40px;
    }
}
nav ul a{
    color: white;
    font-size: 18px;
    margin: 0 15px;
    font-weight: 200;
}
nav ul .active{
    color: #00C7FC;
    border-bottom: solid 3px #00C7FC;
    padding-bottom: 37px;
    position: relative;
    z-index: 2;
}
nav ul a:hover{
    color: #00C7FC;
    border-bottom: solid 3px #00C7FC;
    padding-bottom: 37px;
    position: relative;
    z-index: 2;
}
nav .icon i{
    color: white;
    font-size: 20px;
    border-left: solid 4px white;
    padding-left: 15px;
}

.landing{
    min-height: 100vh;
    background-image: url("../image/74tpz5.jpg");
    background-size: cover;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
}
.landing .text{
    width: 50%;
    height: 40%;
    background-color: #00c5fc69;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width:700px){
    .landing .text{
        width: 100%;
    }
}


.landing .text h2{
    color: white;
    padding: 30px 0 10px 40px;
}
.landing .text p{
    color: white;
    padding: 10px 10px 10px 50px;
}

@media(max-width:370px){
    .landing .text{
        height:60%;
    }
    }
    .landing .left{
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
   }
    .landing .right{
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
   }
   .landing .bottom ul{
       display: flex;
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       top: 90%;
   }
   .landing .bottom ul li{
       width: 25px;
       height: 25px;
       border: solid 3px white;
       border-radius: 50%;
       margin-left: 5px;
   }
   .landing .bottom ul .ac{
       background-color:#00C7FC ;
       border: none;
   }

   .SERVICES{
       
      
   }
   .SERVICES .container{
        height: 95vh;
       position: relative;
   }
   .main-head{
       text-align: center;
       width: 40%;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
   }

   .main-head::after{
       content: "";
       position: absolute;
       width: 150px;
       height: 2px;
       background-color: black;
       top: 50%;
       left:50%;
       transform: translateX(-50%);
   }
   .main-head::before{
       content: "";
       position: absolute;
       width: 20px;
       height: 20px;
       background-color: white;
       border-radius: 50%;
       border: 1px solid black;
       top: calc(50% - 10px);
       left:50%;
       transform: translateX(-50%);
       z-index: 2;
      }
     



   .main-head h2{
      margin: 100px 0 80px 0;
      font-size: 40px;
      font-weight: normal;
   }

   .main-head p{
       color: rgb(119, 119, 119);
       margin-bottom: 80px;
       font-size: 16px;
   }

 @media(max-width:550px){
        .main-head h2{
            margin-bottom: 30px;
            padding-bottom: 20px;
           /* transform: translateX(-50%); */
        }
        .main-head::after{
            top: 45%;
        }
        .main-head::before{
            top: 42%;
        }
      }
.SERVICES .container .boxs{
    margin-right: 20px;
    padding-bottom: 80px;
    display:grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 70px;
    position: absolute;
   top: 50%;
   margin-bottom: 20px;
  }
  .SERVICES .container .boxs .box{
      display: flex;
      justify-content: space-between; 
 }

 
 .SERVICES .container .boxs .box i{
     font-size: 40px;
     margin-right: 25px;
 }
 .SERVICES .container .boxs .box h2{
     color:#00C7FC ;
    font-size: 20px;
    padding-bottom: 20px;
    
 }
 .SERVICES .container .boxs .box p{
    color: rgb(158, 158, 158);
     font-size: 15px;
 }


 @media(max-width:470px){
    .SERVICES .container .boxs{
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    }
 }

 @media(max-width:767px){
    .SERVICES .container .boxs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .SERVICES .container .boxs .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -30px;
    }
    .SERVICES .container .boxs .box i{
        margin-bottom: 30px;
    }
    .SERVICES .container .boxs .box h2{
        text-align: center;
    }
    .SERVICES .container .boxs .box p{
        text-align: center;
    }
 }
 .mob-sec{
     min-height: 600px;
     background-image: url("../image/19610.jpg");
     background-size: cover;
     margin-bottom: 50px;
     margin-top: 100px;
     position: relative;
      overflow: hidden;
 }
 .mob-sec .mob{
     position: absolute;
     left: 45px;
     bottom: -70px;
     z-index: 1;
     }
 .mob-sec .text{
     width: 50%;
     height: 60%;
     background-color: #0b5772be;
     position: absolute;
     right: 0;
     bottom: 50%;
     transform: translateY(50%);
 }
 .mob-sec .text h2 {
     color: white;
     font-weight: 200;
     padding: 35px;
 }
 .mob-sec .text ul{
     color: white;
     padding: 35px;
     font-weight: 200;
     font-size: 16px;
 }
 .mob-sec .text ul li{
     padding-bottom: 25px ;
 }

.mob-sec .text ul li::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f108";
    padding-right: 15px;
}
@media(max-width:800px){
    .mob-sec .mob{
        display: none;
    }
    .mob-sec .text{
        width: 100%;
    }
} 

@media(max-width:767px){
.mob-sec{
        margin-top: 300px;
    }
}
@media(max-width:470px){
.mob-sec{
        margin-top: 600px;
    }
}

@media(max-width:550px){
    .main-head h2{
        margin-bottom: 30px;
        padding-bottom: 20px;
       /* transform: translateX(-50%); */
    }
    .main-head::after{
        top: 45%;
    }
    .main-head::before{
        top: 42%;
    }
  }
  @media(max-width:767px){
      .PORTFOLIO .main-head h2{
          margin-left: -35px;
      }
  }

  .PORTFOLIO{
      position: relative;
      margin-top: -250px;
     }
  
  .PORTFOLIO .list{
      margin-bottom: 300px;
  }
  .PORTFOLIO ul{
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top:350px;
     
     
  }
  .PORTFOLIO ul li{
      margin: 0 10px  100px  10px;
    
      font-size: 20px;
  }
  .PORTFOLIO ul .active{
      color: white;
      background-color: #00C7FC;
      padding: 8px;
  }
  .PORTFOLIO img{
      max-width:100%;
       transition:0.5s;
     
  }
.PORTFOLIO .images .image{
     width: 25%;
    position: relative;
   overflow: hidden;
   
}

.PORTFOLIO .images .image:hover img{
    transform: rotate(5deg) scale(1.1) ;
      }
   .PORTFOLIO .images .image:hover .cap{
       bottom: 0;
   }


    @media(max-width:1200px){
        .PORTFOLIO .images .image{
            width: 50%;
       }
    }
    @media(max-width:767px){
        .PORTFOLIO .images .image{
            width: 100%;
       }
    }

  
  .PORTFOLIO .images{
      
     display: flex;
     flex-wrap: wrap;
     position: relative;
     top:450px;
          
  }
  .PORTFOLIO .images .image .cap{
     width: 100%;
     height: 100px;
      background-color: rgb(255, 255, 255);
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       bottom:  -240px;
       transition: 0.5s;
  }
  
  .PORTFOLIO .images .image .cap h4{
      padding:20px 20px 0 20px;
  }
  .PORTFOLIO .images .image .cap h5{
      padding:20px;
      color: #00C7FC;
  }
  .PORTFOLIO button{
      color: white;
      background-color: turquoise;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -100%;
      padding: 15px;
      border: none;
 }


@media(max-width:1500px){
    .PORTFOLIO button{
        bottom: -110%;
    }
}
@media(max-width:1350px){
    .PORTFOLIO button{
        bottom: -140%;
    }
}
@media(max-width:1200px){
    .PORTFOLIO button{
        bottom: -40%;
    }
}
@media(max-width:980px){
    .PORTFOLIO button{
        bottom: -50%;
    }
}
@media(max-width:767px){
    .PORTFOLIO button{
        bottom: -18%;
    }
}
@media(max-width:536px){
    .PORTFOLIO button{
        bottom: -23%;
    }
}
@media(max-width:420px){
    .PORTFOLIO button{
        bottom: -28%;
    }
}



 .PORTFOLIO button a{
     color: white;
     font-weight: bold;
 }