body{
    font-family: 'Open Sans', sans-serif;
   
   }
   html{
       scroll-behavior: smooth;
   }
*{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    }

header{
position: absolute;
z-index: 2;
width: 100%;
left: 0;

}
header .container{
   min-height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 160px) ;
    background-color: white;
   bottom: -30px;
   left: 80px;
}
header nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
@media(min-width:850px){
    nav .menu{
        display: none;
    }
    }



  @media(max-width:850px){
      nav .menu{
    color: white;
    font-size:20px ;
    padding-right: 20px;
  }
  nav .menu:hover+ul
   {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   flex-direction: column;
   position: absolute;
   top: 68px;
  left: -150px;
  background-color: rgba(0, 0, 0, 0.315);
 width: 130%;
 height: 250px;
 padding: 30px;
  }



  /* .menu{
      display: none;
  } */
 
  nav .menu:hover+ul a{
     color: white;
     border-bottom: none;
     font-size: 20px;
     padding-bottom: 50px ;
     
     }
     nav .menu:hover+ul .active{
        color: #00C7FC;
        width: 100%;
      }

     nav .menu:hover+ul li{
         width: 100%;
     }
     nav .menu:hover+ul .act{
        border-bottom: solid 3px #00C7FC;
     }

  }
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:850px){
    nav ul{
        display: none;
    }
    header .container{
       padding: 0 40px;
    }
    header .container::after{
        width: calc(100% - 80px) ;
        left: 40px;
    }
}
nav ul a{
    color: white;
    font-size: 18px;
    margin: 0 15px;
    font-weight: 200;
}
nav ul .active{
    color: #00C7FC;
    border-bottom: solid 3px #00C7FC;
    padding-bottom: 65px;
    position: relative;
    z-index: 2;
}
nav ul a:hover{
    color: #00C7FC;
    border-bottom: solid 3px #00C7FC;
    padding-bottom: 65px;
    position: relative;
    z-index: 2;
}
nav .icon i{
    color: white;
    font-size: 20px;
    border-left: solid 4px white;
    padding-left: 15px;
}

.landing{
    min-height: 100vh;
    background-image: url("../image/74tpz5.jpg");
    background-size: cover;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
}
.landing .text{
    width: 50%;
    height: 40%;
    background-color: #00c5fc69;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width:700px){
    .landing .text{
        width: 100%;
    }
}


.landing .text h2{
    color: white;
    padding: 30px 0 10px 40px;
}
.landing .text p{
    color: white;
    padding: 10px 10px 10px 50px;
}

@media(max-width:370px){
    .landing .text{
        height:60%;
    }
    }
    .landing .left{
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
   }
    .landing .right{
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
   }
   .landing .bottom ul{
       display: flex;
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       top: 90%;
   }
   .landing .bottom ul li{
       width: 25px;
       height: 25px;
       border: solid 3px white;
       border-radius: 50%;
       margin-left: 5px;
   }
   .landing .bottom ul .ac{
       background-color:#00C7FC ;
       border: none;
   }

   /* .SERVICES{
     
   } */
   .SERVICES .container{
        height: 95vh;
       position: relative;
   }
   .main-head{
       text-align: center;
       width: 40%;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
   }

   .main-head::after{
       content: "";
       position: absolute;
       width: 150px;
       height: 2px;
       background-color: black;
       top: 50%;
       left:50%;
       transform: translateX(-50%);
   }
   .main-head::before{
       content: "";
       position: absolute;
       width: 20px;
       height: 20px;
       background-color: white;
       border-radius: 50%;
       border: 1px solid black;
       top: calc(50% - 10px);
       left:50%;
       transform: translateX(-50%);
       z-index: 2;
      }
     



   .main-head h2{
      margin: 100px 0 80px 0;
      font-size: 40px;
      font-weight: normal;
   }

   .main-head p{
       color: rgb(119, 119, 119);
       margin-bottom: 80px;
       font-size: 16px;
   }

 @media(max-width:550px){
        .main-head h2{
            margin-bottom: 30px;
            padding-bottom: 20px;
           /* transform: translateX(-50%); */
        }
        .main-head::after{
            top: 45%;
        }
        .main-head::before{
            top: 42%;
        }
      }
.SERVICES .container .boxs{
    margin-right: 20px;
    padding-bottom: 80px;
    display:grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 70px;
    position: absolute;
   top: 50%;
   margin-bottom: 20px;
  }
  .SERVICES .container .boxs .box{
      display: flex;
      justify-content: space-between; 
 }

 
 .SERVICES .container .boxs .box i{
     font-size: 40px;
     margin-right: 25px;
 }
 .SERVICES .container .boxs .box h2{
     color:#00C7FC ;
    font-size: 20px;
    padding-bottom: 20px;
    
 }
 .SERVICES .container .boxs .box p{
    color: rgb(158, 158, 158);
     font-size: 15px;
 }


 @media(max-width:470px){
    .SERVICES .container .boxs{
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    }
 }

 @media(max-width:767px){
    .SERVICES .container .boxs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .SERVICES .container .boxs .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -30px;
    }
    .SERVICES .container .boxs .box i{
        margin-bottom: 30px;
    }
    .SERVICES .container .boxs .box h2{
        text-align: center;
    }
    .SERVICES .container .boxs .box p{
        text-align: center;
    }
 }
 .mob-sec{
     min-height: 600px;
     background-image: url("../image/19610.jpg");
     background-size: cover;
     margin-bottom: 50px;
     margin-top: 100px;
     position: relative;
      overflow: hidden;
 }
 .mob-sec .mob{
     position: absolute;
     left: 45px;
     bottom: -70px;
     z-index: 1;
     }
 .mob-sec .text{
     width: 50%;
     height: 60%;
     background-color: #0b5772be;
     position: absolute;
     right: 0;
     bottom: 50%;
     transform: translateY(50%);
 }
 .mob-sec .text h2 {
     color: white;
     font-weight: 200;
     padding: 35px;
 }
 .mob-sec .text ul{
     color: white;
     padding: 35px;
     font-weight: 200;
     font-size: 16px;
 }
 .mob-sec .text ul li{
     padding-bottom: 25px ;
 }

.mob-sec .text ul li::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f108";
    padding-right: 15px;
}
@media(max-width:800px){
    .mob-sec .mob{
        display: none;
    }
    .mob-sec .text{
        width: 100%;
    }
} 

@media(max-width:767px){
.mob-sec{
        margin-top: 300px;
    }
}
@media(max-width:470px){
.mob-sec{
        margin-top: 600px;
    }
}

@media(max-width:550px){
    .main-head h2{
        margin-bottom: 30px;
        padding-bottom: 20px;
       /* transform: translateX(-50%); */
    }
    .main-head::after{
        top: 45%;
    }
    .main-head::before{
        top: 42%;
    }
  }
  @media(max-width:767px){
      .PORTFOLIO .main-head h2{
          margin-left: -35px;
      }
  }



  .portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .portfolio .shuffle {
    display: flex;
    justify-content: center;
  }
  .portfolio .shuffle li {
    padding: 10px;
  }
  .portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
  }
  .portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
  }
  .portfolio .imgs-container .box:hover .caption {
    bottom: 0;
  }
  .portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
  }
  @media (min-width: 768px) {
    .portfolio .imgs-container .box {
      flex-basis: 50%;
    }
  }
  @media (min-width: 1199px) {
    .portfolio .imgs-container .box {
      flex-basis: 25%;
    }
  }
  .portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
  }
  .portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
  }
  .portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
  }
  .portfolio .imgs-container .box .caption p {
    color: var(--main-color);
  }
  .portfolio .more {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
  }



  /* .PORTFOLIO{
      position: relative;
      margin-top: -250px;
     }
  
  .PORTFOLIO .list{
      margin-bottom: 300px;
  }
  .PORTFOLIO ul{
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top:350px;
     
     
  }
  .PORTFOLIO ul li{
      margin: 0 10px  100px  10px;
    
      font-size: 20px;
  }
  .PORTFOLIO ul .active{
      color: white;
      background-color: #00C7FC;
      padding: 8px;
  }
  .PORTFOLIO img{
      max-width:100%;
       transition:0.5s;
     
  }
.PORTFOLIO .images .image{
     width: 25%;
    position: relative;
   overflow: hidden;
   
}

.PORTFOLIO .images .image:hover img{
    transform: rotate(5deg) scale(1.1) ;
      }
   .PORTFOLIO .images .image:hover .cap{
       bottom: 0;
   }


    @media(max-width:1200px){
        .PORTFOLIO .images .image{
            width: 50%;
       }
    }
    @media(max-width:767px){
        .PORTFOLIO .images .image{
            width: 100%;
       }
    }

  
  .PORTFOLIO .images{
      
     display: flex;
     flex-wrap: wrap;
     position: relative;
     top:450px;
          
  }
  .PORTFOLIO .images .image .cap{
     width: 100%;
     height: 100px;
      background-color: rgb(255, 255, 255);
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       bottom:  -240px;
       transition: 0.5s;
  }
  
  .PORTFOLIO .images .image .cap h4{
      padding:20px 20px 0 20px;
  }
  .PORTFOLIO .images .image .cap h5{
      padding:20px;
      color: #00C7FC;
  }
  .PORTFOLIO button{
      color: white;
      background-color: turquoise;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -100%;
      padding: 15px;
      border: none;
 }


@media(max-width:1500px){
    .PORTFOLIO button{
        bottom: -110%;
    }
}
@media(max-width:1350px){
    .PORTFOLIO button{
        bottom: -140%;
    }
}
@media(max-width:1200px){
    .PORTFOLIO button{
        bottom: -40%;
    }
}
@media(max-width:980px){
    .PORTFOLIO button{
        bottom: -50%;
    }
}
@media(max-width:767px){
    .PORTFOLIO button{
        bottom: -18%;
    }
}
@media(max-width:536px){
    .PORTFOLIO button{
        bottom: -23%;
    }
}
@media(max-width:420px){
    .PORTFOLIO button{
        bottom: -28%;
    }
}



 .PORTFOLIO button a{
     color: white;
     font-weight: bold;
 } */

 .vid{
     position: relative;
     margin-bottom: 200px;
    
 }


 .vid .vide{
     width: 100%;
 }

  .vid .vide video{
     width: 100%;
     position: relative;
     }
 .vid .text{
     position: absolute;
     left: 50%;
     bottom: 20%;
     transform: translate(-50% , -50%);
     background-color:  rgba(64, 224, 208, 0.548);
     width:100% ;
     text-align: center;
     color: white;
 }
 
 .vid .text h3{
     padding: 20px 50px;
   margin-bottom: 20px;
   font-size: 20px;
 }
 .vid .text h4{
    padding: 20px 50px;
 }
 .vid .text button{
     color: white;
     background-color: black;
     padding: 10px;
     border: none;
     margin-bottom: 20px;
      }
      .vid .text button a{
          color: white;
      }
      .vid .overlay{
          position: absolute;
          top: 0;
      }
     
      @media(max-width:786px){
          .vid .text{
              bottom: 0;
              height: 50%;
          }
      }
      @media(max-width:590px){
          .vid .text{
              bottom: -20%;
              height: 70%;
          }
          .vid .text h3{
              margin-bottom: -30px;
          }
      }


      .about{
          position: relative;
      }
      .about .main-head{
       top:0;
         }
      .about .main-head p{
           margin-bottom: 100px;
         }
      .about .main-head h2{
        margin: -170px 0 50px 0;
         }
     .about .content{
         /* position: absolute; */
         /* top: 200px; */
         display: flex;
         flex-wrap: wrap;
         width: 100%;
     }


     .about .content .box{
         background-color: rgb(17, 39, 37);
         height: 450px;
         width: 100%;
         position: relative;
         margin-top: 200px;
         margin-bottom: 100px;
       }
       .about .content .box .sec{
           width: 80%;
           height: 50%;
           background-color: #15446181;
           position: absolute;
           left: 50%;
           top: 50%;
           transform: translate(-50% , -50%);
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           align-items: center;
           position: relative;
       }
       .about .content .box .sec h2{
           color: white;
           font-weight: bold;
           font-size: 45px;
           text-align: center;
           margin-bottom: 10px;
       }
       .about .content .box .sec h3{
            color: white;
            text-align: center;
       }
       .about .content .box .sec .icon{
           width: 50px;
           height: 50px;
           background-color: black;
           border-radius: 50%;
           text-align: center;
           margin-bottom: 10px;
          position: relative;
          left: 50%;
          transform: translatex(-50%);
       }
       .about .content .box .sec i{
           color: white;
           font-size: 20px;
           text-align: center;
           padding-top: 15px;
        }
       .about .content .box .sec .a{
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
          padding: 20px;
       }
       .content .image{
           position: absolute;
           top: 140px;
          left: 50%;
          transform: translateX(-50%);
       }
       .content .image img{
           width: 350px;
       }

       @media(max-width:990px){
        .about .content .box .sec .a{
            width: 50%;
            padding: 5px;
        }
        .about .content .box .sec{
            height: 90%;
        }
       }
       @media(max-width:750px){
        .content .image img{
            width: 400px;
        }
        .about .content .box .sec .a{
            width: 100%;
            padding: 5px;
            margin-right: 0;
        }
        .about .content .box {
             height: 800px;
        }
       }
       @media(max-width:424px){
        .about .content .box .sec h2{
            font-size: 20px;
        }
        .about .content .box .sec h3{
            font-size: 15px;
            margin-right:0 ;
        }
        .about .content .box .sec{
            width: 200px;
            margin-right: 0;
        }
        .about .content .box{
            width: 100%;
            margin-right: 0;
        }
        .about .content{
            text-align: center;
            margin-right: 0;
            overflow: hidden;
        }
        .content .image img{
            width: 200px;
        }
       }
       .test-skill{
        /* position: relative; */
    
        }
        .test-skill .container{
            /* position: absolute;
            top:1000px; */
            display: flex;
        }
        .test-skill .container .test{
            margin-right: 120px;
            margin-bottom: 100px;
        }
        .test-skill .container .test .text{
            text-align: center;
        }
        .test-skill .container .test .text h2{
            font-size: 20px;
            font-weight: 200;
            
        }
        .test-skill .container .test .text p{
            font-size: 18px;
            font-weight: 200;
            margin-bottom: 40px;
           color: rgb(126, 126, 126);
        }
        .test-skill .container .test .boxs{
            position: relative;
            margin-bottom: 100px;
        }
        .test-skill .container .test .boxs .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
            position: relative;
            
        }
        .test-skill .container .test .boxs .box::after{
            content: "";
            width: 80%;
            height: 1px;
            background-color: rgb(126, 126, 126);
            position: absolute;
            top: 120px;
            left: 100px;
            margin-bottom: 20px;
        }

        .test-skill .container .test .boxs .box h4{
            text-align: end;
            color: rgb(165, 165, 165);
            margin-top: 10px;
        }
        .test-skill .container .test .boxs .box .content{
            width: 100%;
        }
        .test-skill .container .test .boxs .box img{
            width: 100px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .test-skill .container .test .boxs ul{
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top:115%;
           
        }
        .test-skill .container .test .boxs ul li{
            width:15px;
            height: 15px;
            border: solid 3px rgb(0, 0, 0);
            border-radius: 50%;
            margin-left: 5px;
            margin-bottom: 20px;
        }
        .test-skill .container .test .boxs .ac{
            background-color:#00C7FC ;
            border: none;
        }
        .test-skill .container .skill .text{
            text-align: center;
        }
        .test-skill .container .skill .text h2{
            font-size: 20px;
            font-weight: 200;
            margin-bottom: 20px;
        }
        .test-skill .container .skill .text p{
            font-size: 18px;
            font-weight: 200;
            margin-bottom: 40px;
           color: rgb(126, 126, 126);
        }
        .test-skill .container .skill .section h2{
            font-size:16px;
            font-weight: 400;
            margin-bottom: 20px;
            margin-top: 35px;
        }
        .test-skill .container .skill .section .gray{
            height: 30px;
            width: 100%;
            background-color: gray;
        }
        .test-skill .container .skill .section .a{
            height: 30px;
            width: 90%;
            background-color: #00C7FC;
            position: relative;
            z-index:2;
        }
        .test-skill .container .skill .section .b{
            height: 30px;
            width: 85%;
            background-color: #00C7FC;
            position: relative;
            z-index:2;
        }
        .test-skill .container .skill .section .c{
            height: 30px;
            width: 80%;
            background-color: #00C7FC;
            position: relative;
            z-index:2;
        }
        .test-skill .container .skill{
            margin-bottom: 100px;
        }

        .test-skill .container .skill .section .d{
            height: 30px;
            width: 90%;
            background-color: #00C7FC;
            position: relative;
            z-index:2;
        }
        .test-skill .container .skill .section .gray .blue{
            position: relative;
        }
        .test-skill .container .skill .section .gray .blue::after{
            content: attr(data-progress);
            background-color: black;
            color: white;
            position: absolute;
            left: 100%;
            transform: translateX(-50%);
            bottom: 50px;
            padding: 5px;
            border-radius: 5px;
        }
        .test-skill .container .skill .section .gray .blue::before{
            content: "";
           border-color: black transparent transparent transparent;
            border-style: solid;
            border-width: 10px;
            position: absolute;
            left: 100%;
            transform: translateX(-50%);
            bottom: 30px;
        }

        @media(max-width:1010px){
            .test-skill .container{
                display: flex;
                flex-direction: column;
            }
            .test-skill .container .test .boxs ul{
                top: 110%;
                left: 57%;
               margin: 130px 0;
              
            }
            .test-skill .container .skill{
                margin-top: 100px;
                 }
           
        }
        @media(max-width:751px){

            .test-skill .container .test .boxs ul{
                margin: 90px 0;
            }
            .test-skill .container{
                margin-top: 150px;
            }
            .test-skill .container .test .boxs .box h4{
                margin-bottom: 50px;
            }
            .test-skill .container .test .boxs .box::after{
                margin-top: 50px;
            }
            .test-skill .container .test{
                margin-top: 50px;
            }
        }
        @media(max-width:613px){
            .test-skill .container .test .boxs ul{
                margin: 20px 0;
            }
            .about .content{
                width: 100%;
            }
            .test-skill .container .test .boxs .box{
                display: flex;
                flex-direction: column;
              
            }
            .test-skill .container .test .boxs .box::after{
                display: none;
            }
            .test-skill .container .test .boxs .box img{
                margin-right: 0px;

            }
            .test-skill .container .test {
                margin-right: 0;
                
            }
            .test-skill .container .test{
                margin-top: 50px;
            }
        }
        @media(max-width:547px){
            .test-skill .container .test .boxs ul{
               display: none;
            }
        }


       .qu{
           background-color: rgb(60, 9, 73);
           height: 300px;
           width: 100%;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
       }
       .qu q ,
       .qu p {
           color: white;
           font-size: 25px;
           font-weight: bold;
           text-align: center;
           padding: 0 10px;
       }


       .price .container{
         position: relative;
         
       }
       .price .container .prices{
           position: absolute;
           top: 450px;
           left: 50%;
           transform: translateX(-50%);
           width: 100%;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
          
       }
       .price .container .prices .box{
          background-color: rgb(247, 247, 247);
         margin: 20px 10px;
         width: 300px;
        
          
       }
       .price .container .prices .box .money{
           
           border-top: solid 2px #00C7FC;
           border-bottom: solid 2px #00C7FC;
           height: 200px;
           position: relative;
      }

      .price .container .prices .box .money .b{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50% , -50%);
      }
       .price .container .prices .box .detail{
        border-bottom: solid 2px #00C7FC;
       }

       .price .container .prices .box .money div{
           text-align: center;
       }
       .price .container .prices .box .money span{
           font-size: 55px;
           text-align: center;
           font-weight: bold;
       }
       .price .container .prices .box .money .a{
           margin-bottom: 20px;
           margin-top:40px;
           font-size: 20px;
           font-weight: normal;
       }
       .price .container .prices .box .money sub ,
       .price .container .prices .box .money sup{
            font-weight: bold;
            font-size: 17px;
       }

       .price .container .prices .box .detail div{
           width:140px;
           text-align: center;
           margin: 35px auto;
           padding-bottom:35px;
           border-bottom: solid 2px #00C7FC;
       }
       .price .container .prices .box .detail :last-child{
           border-bottom: none;
          padding-bottom: 20px;
       }
       .price .container .prices .box .buy{
           margin: 45px;
           text-align: center;
       }
       .price .container .prices .box .buy a{
         border: solid 2px  #00C7FC;
         margin: 20px auto;
         padding: 20px;
       }
       .contact .container {
           position: relative;
       }
       .contact .container .us{
           position: absolute;
           top: 1400px;
           left: 50%;
           transform: translateX(-50%);
            text-align: center;
        }
        .contact .container .us p{
            font-weight: bold;
            font-size: 20px;
        }
        .contact .container .us button{
            color: white;
            background-color: #00C7FC;
            padding: 15px;
            border: none;
            outline: none;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        .contact .container .us button a{
            color: white;
        }

      @media(max-width:1296px){
        .contact .container .us{
            top: 2000px;
        }
      }
      @media(max-width:661px){
        .contact .container .us{
            top:3500px;
        }
      }
        .contact .land {
            position: relative;
        }
        .contact .land .email{
            height: 300px;
            width: 100%;
            position: absolute;
            top: 1600px;
            left: 50%;
            transform: translateX(-50%);
           background-image: url("../image/background.jpg");
           background-size: cover;
           background-repeat: no-repeat;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
           align-items: center;
          
        }
        .contact .land p{
            color: white;
            font-size: 18px;
            padding: 15px;
            
        }
        .contact .land .email form input{
            padding:  15px 15px 15px 35px;
            font-weight: bold;
            color: white;
            background-color: transparent;
            outline: none;
            border: none;
            caret-color: #00C7FC;
            position: relative;

        }
        .contact .land .email form::before{
            content: "*";
            width: 20px;
            height: 20px;
            background-color: rgb(0, 0, 0);
            color: white;
            position: absolute;
            z-index: 3;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 2px;
        }
        .contact .land .email form button{
            color: white;
            background-color:#00C7FC ;
            padding: 15px;
            border: none;
        }
        .contact .land .email form{
            border: 3px solid white;
            position: relative;
            margin-right: 20px;
        }
        @media(max-width:1296px){
            .contact .land .email{
                top: 2300px;
            }
          }
          @media(max-width:661px){
            .contact .land .email{
                top: 3800px;
            }
          }
          .contact .land .main-head{
              position: absolute;
              top: 2000px;
              color: black;
          }
          .contact .land .main-head p{
              color: black;
          }

          @media(max-width:661px){
            .contact .land .main-head{
                top: 4050px;
            }
          }



          .contact{
            position: relative;
            }
          .contact .data{
              position: absolute;
              top: 2400px;
              left:20%;
             
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
          }
          .contact .data .phones h4{
          margin-left: 100px;
          text-align: center;
          margin-bottom: 15px;
         }
          .contact .data .phones p{
          margin-left: 100px;
          text-align: center;
          margin-bottom: 15px;
          color: rgb(165, 165, 165);
         }



            .contact .data form :first-child{
              width: 100%;
              height: 50px;
              margin-bottom: 20px;
              padding: 15px;
              outline: none;
          }
          .contact .data form :nth-of-type(2){
              width: 700px;
              height: 50px;
              margin-bottom: 20px;
              padding: 15px;
              outline: none;
          }
          .contact .data form :nth-of-type(3){
            width: 700px;
            height: 50px;
            margin-bottom: 20px;
            padding: 15px;
            outline: none;
          }
          .contact .data form button{
              color: white;
              background-color: #00C7FC ;
              padding: 15px;
              outline: none;
              border: none;
              margin-top: 20px;
              margin-bottom: 20px;
              margin-left: 550px;
          }
          @media(max-width:1296px){
            .contact .data{
                top: 2800px;
            }
          }
          @media(max-width:900px){
            .contact .data form :first-child{
                width: 500px;
            }
            .contact .data form :nth-of-type(2){
                width: 500px;
                margin-bottom: 20px;
                border-bottom: 2px solid black;
            }
            .contact .data form .o{
                width: 500px;
                margin-top: 10px;
            }

            .contact .data form button{
                margin-left: 350px
            }
          }




          @media(max-width:661px){
            .contact .data{
                top: 4500px;
            }
            .contact .data form :first-child{
                width: 250px;
            }
            .contact .data form :nth-of-type(2){
                width: 250px;
            }
            .contact .data form .o{
                width: 250px;
            }

            .contact .data form button{
                margin-left: 150px
            }
          }

          footer{
              position: relative;
        }
        footer .container{
            position: absolute;
            top:3000px;
            background-color: rgb(41, 33, 33);  
            width: 100%;
            height: 400px;
            text-align: center;
      }
      footer .container .logo{
          margin: 30px 0;
      }

      footer .container .social p{
          color: white;
          border-bottom: 2px solid white;
          margin-bottom: 20px;
          padding-bottom: 20px;
          width: fit-content;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          top: 50%;
      }
      footer .container .social i{
          color: white;
          font-size: 18px;
          margin-left: 10px;
          margin-bottom:190px;
      }
.copyright{
    color: white;
}
.copyright span{
    color: tomato;
}
@media(max-width:1296px){
    footer .container{
        top: 3500px;
    }
}
@media(max-width:661px){
    footer .container{
        top: 5400px;
    }
}